@import "variables";

.card-container {
  display: flex;
  flex-direction: column;
  padding: 19px 15px;
  border: 1px solid $lightGray;
  background-color: transparent;
  border-radius: 8px;
  gap: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  img {
    width: 40px;
    aspect-ratio: 1/1;
  }

  .card-info-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;

    .card-title {
      font-family: 'UbuntuBold', sans-serif;
      color: $marineBlue;
    }

    .card-price {
      color: $coolGray;
    }
  }

  &:hover, &.active {
    border-color: $purplishBlue;
    background-color: $alabaster;
  }
}